.movies-list {
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap;
    gap: 36px;
    margin: 0 auto; /* Центрируем контейнер */
    box-sizing: border-box !important;
}
.movies-list .ant-row {
    box-sizing: border-box !important;
    margin: 0 !important; /* Убираем внешние отступы */
    padding: 0 !important; /* Убираем внутренние отступы */
}

.movies-list .ant-col {
    flex: 0 0 auto; /* Отключаем растягивание */
    max-width: 451px; /* Фиксированная ширина */
    width: 100%; /* На всякий случай */
    
}
