.movies-list {
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap;
    gap: 36px;
}

css Copy .movies-list .ant-row {
    margin: 0 !important; /* Убираем внешние отступы */
    padding: 0 !important; /* Убираем внутренние отступы */
}

.movies-list .ant-col {
    padding: 0 !important; /* Убираем внутренние отступы */
}
