/* Основной контейнер */
.movies-container {
    width: 451px; /* Фиксированная ширина, как у карточек */
    margin: 0 auto; /* Центрирование контейнера */
}

/* Форма поиска */
.movies-container__search {
    width: 100%; /* Занимает всю ширину контейнера */
    margin-bottom: 24px; /* Отступ снизу */
}

/* Контейнер для фильмов */
.movies-container__movies {
    width: 100%; /* Занимает всю ширину контейнера */
}
